<template>
  <div class="px-0 page-container-header"> 
   
    <div style="background-color:lightgreen;padding:1.4rem">
      <div class="row px-5">
        <div id="toggle"><span></span></div>
       <!--   <nav>
          &nbsp; <RouterLink to="/irun/necesidades">Necesidades</RouterLink> &nbsp;
          <RouterLink to="/irun/dones">Dones</RouterLink>
        </nav> -->
        <div id="menu">
          <span id="title">Menú</span>
          <ul>
            <li><a href="#" style="text-decoration: none;"><span>¿Que es esto?</span></a></li>
            <li><a href="#" style="text-decoration: none;"><span>Contacto</span></a></li>
            <li id="menuButton">
              <span id="donesButtonMenu" onclick="closeMenu()">
                <RouterLink class="btn float-sm-end" to="/irun/dones" role="button" style="background-color:#198754;cursor:pointer;border-radius:0;background-image:unset;color:#fff;font-size:1em;" title="Ver los dones de esta comunidad">Dones</RouterLink>
                <!-- <a class="btn float-sm-end" href="#irun/dones" role="button" style="background-color:#198754;cursor:pointer;border-radius:0;background-image:unset;color:#fff;font-size:1em;" title="Ver los dones de esta comunidad">Dones</a> -->
              </span>
            </li>
            <li><span>cambiar idioma</span></li>
          </ul>
        </div>
      </div>
    </div>

    <RouterView />
  </div>

  <div class="row">
    <div class="col footer">
      footer
    </div>
  </div>
</template>

<script lang="ts">
/* import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue"; */

  export default {
        data() {
            return {
                conf: "hola"
              }
        }
    }

// console.log("conf", this.conf)
/* window.conf = { 
    freeSearch: '',
    distance: 0,
    categories: [],
    presentCategories: ['jan', 'lo', 'lagunak'],
    necesidades: [ ],
    comunities: [ "irun", "egia", "tolosa", "legazpi"],
    mapCharged: false
  }; */

/*   let activeMarkerId = 0;
  let map = "";
  let splitted = []; */
  /* function delay(n){
      return new Promise(function(resolve){
          setTimeout(resolve,n*1000);
      });
  } */

  // let page = "";

// @ts-ignore
  $(async function() {
    // @ts-ignore
    $("#toggle").click(function() {
      console.log("pasaClick")
      // @ts-ignore
      $(this).toggleClass("open");
      // @ts-ignore
      $("#menu").toggleClass("opened");
    });
  });

  function closeMenu() {
    console.log("closeMenu")
    // @ts-ignore
    $('#toggle').removeClass("open");
    // @ts-ignore
    $('#menu').removeClass("opened").addClass("closed");
  }
</script>
